#body{
  background: #AED6F1;
}
#content {
  overflow:auto;
  width: 900px;
  background: #AED6F1;
}

#left, #right {
  width: 40%;
  margin:5px;
  padding: 1em;
  background: #AED6F1;
}

#left  { float:left;  }
#right { float:right; }
